<mt:setvarblock name="js_include" append="1">
<script src="<mt:var name="static_uri">plugins/OGPEmbed/dist/block.min.js?v=<mt:var name="v">" type="module"></script>
<link rel="stylesheet" href="<$mt:var name="static_uri"$>plugins/OGPEmbed/dist/block.min.css?v=<mt:var name="v">" />
</mt:setvarblock>
